body {
    font-family: 'Cairo', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

header h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.book-card {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    transition: 0.3s;
    border: 1px solid #eee;
}

.book-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.book-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.book-card h3 {
    font-size: 1.1rem;
    color: #333;
    margin: 15px 0 10px;
}

.price {
    color: #27ae60;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.add-btn {
    background-color: #000000;
    color: #f0d78c;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.add-btn:hover {
    background-color: #1a2a7e;
}
.nav {
  background: #111;
  padding: 12px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.nav a {
  color: #f0d78c;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  color: white;
}