* {
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image:url(pho.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.35);
  width: 400px;
  padding: 40px;
  text-align: center;
}

.container h1 {
  margin-bottom: 20px;
}

.container input {
  background-color: #eee; display: inline-block;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%; 

}

.container button {
  background-color: black; display: inline-block;
  color: #f0d78c;
  padding: 10px 45px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 15px;
  cursor: pointer;

  
}

.icons {
  margin: 20px 0;
}

.icons a {
  border: 1px solid #ccc;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  color: #333;
}
div a{
  color: black; 
  text-decoration: none;
  font-size: 13px;
  font-weight:bold;
  transition: color 0.3s, border-bottom 0.3s;
  
}
  div a:hover {
  color: rgb(0, 0, 0);
    border-bottom: 2px solid #010101;}
    
    